*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

---------------------------------------------- .eye {
  width: 37px;
  height: 24px;
  margin-right: 0 5px 0 0;
}



.header_img_bg {
  background-color: #6A6A6A;
}

.header {}

.container {
  margin: 7px 0 30px 0;
}

.header__logo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}




.header__left {
  display: flex;
  align-self: center;
  width: 196px;
  height: 28px;
  margin-right: 63px;
}

.header__text {
  /* margin: 7px 0 30px 0; */
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  /* justify-content: center;
  flex-direction: row; */
}

.text_1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #000043;
  font-family: 'Roboto Condensed';
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0 15px 0;
  width: 462px;
  height: 25px;
}

.text_2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #000043;
  font-family: 'Roboto Condensed';
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: 415px;
  height: 80px;
}


.header__right {
  display: flex;
  align-self: center;
}

.container_private_office {
  margin: 0 15px 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 3px 6px;
  gap: 10px;
  width: 151px;
  height: 22px;
  background: #6A6A6A;
  border-radius: 5px;
}

.private_office {
  width: 122;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  font-style: normal;
  font-family: 'Roboto Condensed';
  white-space: nowrap;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
}

.header__links {
  margin: 6px 10px 6px 10px;
  border-bottom: 2px solid #FFC20E;
}

.header__link {
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: #6A6A6A;
  width: 99px;
  height: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.main__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin: 0 auto;
}



.footer {
  background-image: url(/Images/img_content/фон\ 1.png);
  height: 491px;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 69px 0 67px 0;
}

/* .footer__main_menu {
  display: flex;
  flex-direction: column;
}

.footer__Quick_links  {
  display: flex;
  flex-direction: column;
} */

.footer__about {
  display: flex;
  flex-direction: column;
  text-align:start;
  align-items: stretch;
  margin: 0 46.5px;
}



.footer__about-test {
  display: flex;
  flex-direction: column;
}
.footer__about-first {
  display: flex;
  flex-direction: column;
}

.footer__about-second {
  display: flex;
  flex-direction: column;
}

.footer__links {
  color: #FFFFFF;
  text-decoration: none;
}

.ngpi_mail {
  color: #FFFFFF;
  text-decoration: none;
}

.yellow_text {
  color: #FFC20E;
  text-transform: uppercase;
}

/* 
.img_yurait {
  width: 803px;
  height: 419px;
  background-color: #FEFBFB;
  margin: 0 -15px;
  border: 1px solid black;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 400px;
  height: 185px;
  padding: 0 15px;
  justify-content: flex-start;
}

.main__content--container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 28px 0;
}

.img_yurait_img {
  width: 803px;
  height: 419px;
}

.main__img {
  width: 123px;
  height: 185px;
  display: flex;
  
}

.main_img_img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.main__content-text {
  width: 143px;
  height: 112px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main__content--text-h {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  
  
}

.main__content--text-p {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
}

.main__text {
  display: flex;
  width: 400px;
  height: 800px;
  background-color: #000043;
}

.main__text--p {
  color: #FEFBFB;
}

.main__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */